datasets>=2.16.0
nomic>3.0.0
webdataset
s3fs>=2023.10.0
boto3
google-cloud-storage
wandb
torchmetrics
transformers>=4.34.0
einops
sentencepiece
deepspeed
wheel
packaging
tabulate
av
evaluate
scipy
pydantic<2.0.0
matplotlib
seaborn
tiktoken
openai
mteb
beir
tabulate
multiprocess==0.70.15
